<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Andrea V Mancera</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/stylesheet.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

</head>

<body>
    <header>

        <nav>
            <div class="separation-navbar">
                <a href="#about" class="texto-nav">
                    About
                </a>
                <a href="#projects" class="texto-nav">
                    Projects
                </a>
                <a href="#contact" class="texto-nav">
                    Contact
                </a>
            </div>
        </nav>
    </header>

    <main>
        <section>
            <div class="fondo">
                <div class="nombre-principal1" data-aos="fade-down" data-aos-duration="600">
                    <div class="nombre-principal2">
                        <h2>
                            Andrea Valentina Mancera
                        </h2>
                            <h3 class="subtitulo">
                             ux/ui designer
                             </h3>
                    </div>
                </div>
            </div>
        </section>

    </main>

    <footer>
        <div class="redes">
            <a href="https://www.linkedin.com/in/andrea-valentina-mancera-4b9706192/" >
                Linkedin
            </a>
            <a href="https://medium.com/@avmancera">
                Medium
            </a>
            <a href="https://www.instagram.com/amancera/">
                Instagram
            </a>
        </div>
    </footer>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>

</body>

</html>

